<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099485454597-ct970jc0ve3op8dip89hq7sgqp9rkkp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099485454597-ct970jc0ve3op8dip89hq7sgqp9rkkp0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1099485454597-35sf17tigcsrgbpj1dpko9hpfim3jqan.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyxRUAjRgc_UyjBQRvnS4yJjtKJv2HVZU</string>
	<key>GCM_SENDER_ID</key>
	<string>1099485454597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireNotesApp</string>
	<key>PROJECT_ID</key>
	<string>gothic-well-380009</string>
	<key>STORAGE_BUCKET</key>
	<string>gothic-well-380009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099485454597:ios:b4d738987ceb39b45a976c</string>
</dict>
</plist>